:root {
  --error-color: #dc3545;
  --success-color: #28a745;
  --warning-color: #ffc107;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 0;
  padding: 0;
  background: url(img/yes.jpg);
  background-size: cover;
  min-height: 610px;
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
}

.loginbox {
  width: 320px;
  height: 500px;
  background: rgb(2, 2, 2) !important;
  color: rgb(187, 174, 174);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 10%;
  margin-top: 3rem;
}
.form-field.error input {
  border-color: var(--error-color);
}
.form-field.success input {
  border-color: var(--success-color);
}
.form-field small {
  color: var(--error-color);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"],
input[type="Email"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #080808;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover {
  color: #ffc107;
}
